<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
    <title>Temperatures</title>
</head>

<body>
<div class="chart-container">
    <canvas id="chart" width="400" height="400"></canvas>
</div>
<script>

    const colorset1 = [
        "#2A9D8F",
        "#E9C46A",
        "#F4A261",
        "#E76F51"
    ]

    const colorset2 = [
        "#5F0F40",
        "#185A10",
        "#E36414",
        "#055569"
    ]

    const colors = colorset2;

    var ctx = "chart";
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [],
            datasets: []
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            hover: {
                mode: "nearest"
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        unit: "second",
                        displayFormats: {
                            second: "HH:mm:ss"
                        },
                        tooltipFormat: "HH:mm:ss"
                    },
                    ticks: {
                        autoSkipPadding: 40 // more space between ticks
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        labelString: "Temperature °C",
                        display: true
                    }
                }]
            }
        }
    });


    async function initialize() {
        const res = await fetch("/previous");
        const data = await res.json();

        chart.data.labels = data.times;
        chart.data.datasets = [];

        for (let i = 0; i < data.sensors.length; i++) {
            chart.data.datasets.push({
                label: "Sensor " + (i + 1),
                fill: false,
                pointRadius: 5,
                pointHitRadius: 5,
                pointHoverRadius: 10,
                borderColor: colors[i] + "CC", // CC is 80% alpha
                backgroundColor: colors[i] + "33", // 33 is 20% alpha
                data: data.sensors[i]
            });
        }
        chart.update();
    }

    async function update() {
        const res = await fetch("/update");
        const data = await res.json();

        chart.data.labels.push(data.time)
        for (let i = 0; i < data.sensors.length; i++) {
            chart.data.datasets[i].data.push(data.sensors[i]);
        }

        chart.update();

        console.log(chart.data.datasets[0])
    }

    initialize(); // call once

    setInterval(update, 5000); // auto refresh every 5 seconds

</script>
</body>
</html>