<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
    <title>Temperatures</title>
</head>

<body>
<div class="chart-container">
    <canvas id="chart" width="400" height="400"></canvas>
</div>
<script>

    const colors = [
        "#2A9D8F",
        "#E9C46A",
        "#F4A261",
        "#E76F51",
        "#3A6B7E"
    ]

    var ctx = "chart";
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [],
            datasets: []
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            hover: {
                mode: "nearest"
            },
            scales: {
                xAxes: [{
                    type: "time",
                    time: {
                        unit: "second",
                        displayFormats: {
                            second: "HH:mm:ss"
                        },
                        tooltipFormat: "HH:mm:ss"
                    },
                    ticks: {
                        autoSkipPadding: 40
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        labelString: "Temperature °C",
                        display: true
                    }
                }]
            }
        }
    });


    async function refresh() {
        const res = await fetch("/data");
        const data = await res.json();

        console.log(data);

        chart.data.labels = data.times;
        chart.data.datasets = [];

        for (let i = 0; i < data.sensors.length; i++) {
            chart.data.datasets.push({
                label: "Sensor " + (i + 1),
                fill: false,
                pointRadius: 5,
                pointHitRadius: 5,
                pointHoverRadius: 10,
                borderColor: colors[i] + "CC",
                backgroundColor: colors[i] + "33",
                data: data.sensors[i]
            })
        }
        chart.update();
    }

    refresh();

    setInterval(refresh, 5000);

</script>
</body>
</html>